header#main-header {
  height: 72px;
  border: 1px solid #ddd;
}

header#main-header .header-content {
  width: 100%;
  max-width: 980px;
  height: 72px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
